.icon-arrowDown { background-image: url('png/arrowDown.png'); background-repeat: no-repeat; }

.icon-arrowLeft { background-image: url('png/arrowLeft.png'); background-repeat: no-repeat; }

.icon-arrowRight { background-image: url('png/arrowRight.png'); background-repeat: no-repeat; }

.icon-arrowTop { background-image: url('png/arrowTop.png'); background-repeat: no-repeat; }

.icon-arrowUp { background-image: url('png/arrowUp.png'); background-repeat: no-repeat; }

.icon-cross { background-image: url('png/cross.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-line { background-image: url('png/line.png'); background-repeat: no-repeat; }

.icon-pin { background-image: url('png/pin.png'); background-repeat: no-repeat; }

.icon-plus { background-image: url('png/plus.png'); background-repeat: no-repeat; }

.icon-reload { background-image: url('png/reload.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-share { background-image: url('png/share.png'); background-repeat: no-repeat; }

.icon-tel { background-image: url('png/tel.png'); background-repeat: no-repeat; }

.icon-tick { background-image: url('png/tick.png'); background-repeat: no-repeat; }

.icon-wechat { background-image: url('png/wechat.png'); background-repeat: no-repeat; }

.icon-weibo { background-image: url('png/weibo.png'); background-repeat: no-repeat; }

.icon-whatsapp { background-image: url('png/whatsapp.png'); background-repeat: no-repeat; }

.icon-youtube { background-image: url('png/youtube.png'); background-repeat: no-repeat; }

